{% extends 'outline.html' %}

{% block content %}

<div class="row">
  <div class="small-11 card compCard">
    <h3>Competitions</h3>
    <table id='compTable'>
      <thead>
        <tr>
          <th>Competition</th>
          <th>Singles / Doubles</th>
          <th>Comp Type</th>
        </tr>
      </thead>

      <tbody>

      {% for comp in comps %}

        <tr>
          <td><a href='/comp/{{comp.getHash()}}'>{{ comp.name }}</a></td>
          <td>{{ comp.singlesDoubles }}</td>
          <td>{{ comp.comp_type }}</td>
        </tr>

      {% endfor %}

      </tbody>
    </table>

    <div class="newComp btn-container">
      <a href="/comp/new" class="btn white"><i class='fa fa-plus'></i> New Comp</a>
    </div>

  </div>
</div>

{% endblock %}
