{% extends 'outline.html' %}

{% block content %}
<div class="row">
  <div class="small-11 card">
    <h3>Competition</h3>
    <div class="row">
      <p>{{ comp.name }}</p>
      <table>
        <thead>
          <tr>
            <th>Player</th>
          </tr>
        </thead>
        <tbody>
          {% for player in comp.players %}
          <tr>
            <td>{{ player }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
      {% for round in comp.rounds %}
      <div class="round">
        <p>{{round}}</p>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
